@import '../../variables.scss';

.card {
  display: flex;
  flex-direction: column; 
  position: relative;

  &:hover {
    img {
      height: 200px; 
    }
    .info {
      background-position: 0 0; 
    }
    .heart-selected {
      color: $white-color
    } 
  }

  a {
    height: 194px;
  }

  img {
    border-bottom: 4px solid $red-marvel;
    height: 189.97px;
    border-radius: 5px 5px 0 0; 
    object-fit: cover; 
    width: 100%;
  }

  .info {
    padding: 16px 16px 24px 16px;
    display: flex;
    justify-content: space-between;
    height: 56px;
    background: linear-gradient(to bottom, $red-marvel 0%, $red-marvel 50%, black 50%, black 100%); 
    background-size: 100% 200%;
    background-position: 0 100%; 
    transition: background-position 0.3s; 
   
  
      
    .title {
      height: 16px;
      color: $white-color;
      font-weight: 400;
      font-size: 14px;
      line-height: 16.41px;
      text-decoration: none; 
    }
  }

  &::after {
    border-color: transparent $white-color transparent transparent;
    border-style: solid;
    border-width: 12px 12px 0 0;
    bottom: 0;
    content: "";
    position: absolute;
    right: 0;
    top: auto;
    z-index: 40;
  }
}


