header {
  background-color: black;
  display: flex;
  padding: 16px 48px 16px 48px;
  height: 84px;
  .logoWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo {
      float: left;
    }
  }
  
  .iconWrap {
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: end;
    width: 100%;
    
    a {
      float: right;
      padding: 0 .5em;
      text-decoration: none;
      img {
        width: 24px;
      }
    }
  }
  
  .counterFav {
    color: white;
  }
}