
@import '../../variables.scss';
$progress: 0; 

  .bar-wrapper {
    width: 100%;
    height: 5px;
    background-color: white
  }

  .progress-bar {
    height: 100%;
    background-color: $red-marvel;
    transition: width 0.1s linear;
    width: $progress;
  }